:root, [data-bs-theme=light] {
  --bs-primary: #2f2624;
  --bs-primary-rgb: 47,38,36;
  --bs-primary-text-emphasis: #130F0E;
  --bs-primary-bg-subtle: #D5D4D3;
  --bs-primary-border-subtle: #ACA8A7;
  --bs-secondary: #915825;
  --bs-secondary-rgb: 145,88,37;
  --bs-secondary-text-emphasis: #3A230F;
  --bs-secondary-bg-subtle: #E9DED3;
  --bs-secondary-border-subtle: #D3BCA8;
  --bs-info: #DDA292;
  --bs-info-rgb: 221,162,146;
  --bs-info-text-emphasis: #58413A;
  --bs-info-bg-subtle: #F8ECE9;
  --bs-info-border-subtle: #F1DAD3;
  --bs-light: #f5f6f8;
  --bs-light-rgb: 245,246,248;
  --bs-light-text-emphasis: #626263;
  --bs-light-bg-subtle: #FDFDFE;
  --bs-light-border-subtle: #FBFBFC;
  --bs-body-font-family: 'Chelsea Market', serif;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2f2624;
  --bs-btn-border-color: #2f2624;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #28201F;
  --bs-btn-hover-border-color: #261E1D;
  --bs-btn-focus-shadow-rgb: 224,222,222;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #261E1D;
  --bs-btn-active-border-color: #231D1B;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2f2624;
  --bs-btn-disabled-border-color: #2f2624;
}

.btn-outline-primary {
  --bs-btn-color: #2f2624;
  --bs-btn-border-color: #2f2624;
  --bs-btn-focus-shadow-rgb: 47,38,36;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2f2624;
  --bs-btn-hover-border-color: #2f2624;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2f2624;
  --bs-btn-active-border-color: #2f2624;
  --bs-btn-disabled-color: #2f2624;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2f2624;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #915825;
  --bs-btn-border-color: #915825;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7B4B1F;
  --bs-btn-hover-border-color: #74461E;
  --bs-btn-focus-shadow-rgb: 239,230,222;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #74461E;
  --bs-btn-active-border-color: #6D421C;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #915825;
  --bs-btn-disabled-border-color: #915825;
}

.btn-outline-secondary {
  --bs-btn-color: #915825;
  --bs-btn-border-color: #915825;
  --bs-btn-focus-shadow-rgb: 145,88,37;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #915825;
  --bs-btn-hover-border-color: #915825;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #915825;
  --bs-btn-active-border-color: #915825;
  --bs-btn-disabled-color: #915825;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #915825;
}

.btn-info {
  --bs-btn-color: #000000;
  --bs-btn-bg: #DDA292;
  --bs-btn-border-color: #DDA292;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E2B0A2;
  --bs-btn-hover-border-color: #E0AB9D;
  --bs-btn-focus-shadow-rgb: 33,24,22;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E4B5A8;
  --bs-btn-active-border-color: #E0AB9D;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #DDA292;
  --bs-btn-disabled-border-color: #DDA292;
}

.btn-outline-info {
  --bs-btn-color: #DDA292;
  --bs-btn-border-color: #DDA292;
  --bs-btn-focus-shadow-rgb: 221,162,146;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #DDA292;
  --bs-btn-hover-border-color: #DDA292;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #DDA292;
  --bs-btn-active-border-color: #DDA292;
  --bs-btn-disabled-color: #DDA292;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #DDA292;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f5f6f8;
  --bs-btn-border-color: #f5f6f8;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D0D1D3;
  --bs-btn-hover-border-color: #C4C5C6;
  --bs-btn-focus-shadow-rgb: 37,37,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #C4C5C6;
  --bs-btn-active-border-color: #B8B9BA;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f5f6f8;
  --bs-btn-disabled-border-color: #f5f6f8;
}

.btn-outline-light {
  --bs-btn-color: #f5f6f8;
  --bs-btn-border-color: #f5f6f8;
  --bs-btn-focus-shadow-rgb: 245,246,248;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f5f6f8;
  --bs-btn-hover-border-color: #f5f6f8;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f5f6f8;
  --bs-btn-active-border-color: #f5f6f8;
  --bs-btn-disabled-color: #f5f6f8;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f5f6f8;
}

